/* ==================== BODY ==================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: hsl(200, 90%, 50%);
  background-color: hsl(0, 0%, 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==================== GENERAL INPUT ==================== */

input[type=button], input[type=submit], a, #logout {
  color:hsl(200, 90%, 50%);
  border: 2px solid hsl(0, 0%, 20%);
  text-decoration: none;
  padding: 7px 20px;
  margin: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
input[type=button]:hover, input[type=submit]:hover, a:hover, #logout:hover {
  cursor: pointer;
  color: hsl(0, 0%, 90%);
  /* border-color: hsl(0, 0%, 90%); */
  background-color: hsl(200, 90%, 25%);
}
input[type="text"], input[type="float"], input[type="password"] {
  width: 70%;
  margin: 10px;
}

/* ==================== NAVBAR ==================== */

nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  background-color: hsla(0, 0%, 70%, 0.35);
  height: 80px;
  position: sticky;
  top: 0;
}

.navLeft {
  color: hsl(200, 90%, 50%);
  position: absolute;
  left: 20px;
  top: 27px;
  font-size: 20px;
  font-weight: bolder;
}
.navRight {
  color: hsl(200, 90%, 50%);
  position: absolute;
  right: 20px;
  top: 27px;
  font-size: 20px;
  font-weight: bolder;
}
a {
  margin: 0 8px;
  border-color:hsl(200, 90%, 50%);
}
a:hover {
  border-color:hsl(200, 90%, 25%);
}
#logout, #login {
  border-color: hsl(200, 90%, 50%);
  background-color: hsl(200, 90%, 50%);
  color: hsl(0, 0%, 90%);
}
#logout:hover, #login:hover {
  color: hsl(0, 0%, 90%);
  border-color: hsl(200, 90%, 25%);
  background-color: hsl(200, 90%, 25%);
}
#cart-icon {
  background-image: url(https://i.imgur.com/Pn05H6R.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color:hsl(200, 90%, 50%);
}
#cart-icon:hover {
  background-color: hsl(200, 90%, 25%);
}
#cart-icon-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -23px;
  left: 34px;
  height: 30px;
  width: 30px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 50%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.home-logo {
  border: none;
}
.home-logo:hover {
  background: none;
}
.home-logo img {
  margin: -17px -20px;
  width: 175px;
}

/* ==================== MESSAGES ==================== */

.success {
  color: hsl(200, 90%, 50%);
  background-color: hsl(0, 0%, 90%);
  border-radius: 3%;
  border: 2px solid hsl(200, 90%, 50%);
  padding: 8px;
  position: sticky;
  top: 20px;
  z-index: 1;
}
.failure {
  color: red;
  background-color: hsl(0, 0%, 90%);
  border-radius: 3%;
  border: 2px solid red;
  padding: 8px;
  position: sticky;
  top: 20px;
  z-index: 1;
}
.success, .failure {
  width: 100%;
}

/* ==================== HOME ==================== */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product:hover {
  cursor: pointer;
}
.search-bar {
  width: 50%;
  margin: 20px 0;
}

/* ==================== SIGNUP / LOGIN ==================== */

.signup-page, .login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.signup-form, .login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-labels, .login-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.signup-labels label, .login-labels label {
  margin: 12px 10px;
}
.signup-inputs, .login-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#to-signup {
  color: hsl(200, 90%, 50%);
  margin: 10px 0;
}
#to-signup:hover {
  cursor: pointer;
  color: hsl(0, 0%, 90%);
  text-decoration: underline;
}

/* ==================== PROFILE ==================== */

.profile-page {
  color: hsl(200, 90%, 50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-header {
  border-bottom: 2px solid hsl(200, 90%, 50%);
}
.profile-menu, .product-details-menu {
  border-top: 2px solid hsl(200, 90%, 50%);
  border-bottom: 4px solid hsl(200, 90%, 50%);
  width: 99.9%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-details-menu {
  width: 99.58%;
}
#edit-info {
  width: 100px;
  margin: 35px;
}
#cancel-changes, #cancel-price-change, #cancel-checkout {
  margin: 35px 10px;
  color: hsla(0, 0%, 20%);
  border: 2px solid hsla(0, 0%, 20%);
}
#cancel-changes:hover, #cancel-price-change:hover, #cancel-checkout:hover {
  color: hsla(0, 0%, 90%);
  background-color: hsl(0, 0%, 20%);
  border: 2px solid hsl(0, 0%, 90%);
}
#save-changes, #save-price-change {
  margin: 35px 10px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 50%);
  border: 2px solid hsl(200, 90%, 50%);
}
#save-changes:hover, #save-price-change:hover {
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 25%);
  border: 2px solid hsl(200, 90%, 25%);
}
#cancel-price-change, #save-price-change {
  margin: 10px 10px;
}
.menu-item {
  color: hsl(200, 90%, 50%);
  border-bottom: 4px solid hsl(200, 90%, 50%);
  border-radius: 2%;
  width: 12%;
  height: 50px;
  margin:-2px -1px -4px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item:hover {
  cursor: pointer;
  color: hsl(0, 0%, 60%);
  border-color: hsl(0, 0%, 60%);
  /* z-index: 2; */
}
.active {
  color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 90%);
  z-index: 2;
}
#leave-review {
  position: relative;
  left: 64.5%;
}
#create-product {
  position: relative;
  left: 40.5%;
}

/* ==================== ACCOUNT INFO ==================== */

.profile-display {
  width: 80%;
  display: flex;
  justify-content: center;
}
.profile-info {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin: 100px 0;
}
.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 55px;
}
.info-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.info-input {
  margin: auto 20px;
}
#editInfo {
  width: 90%;
}
.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ==================== PRODUCTS ==================== */

.all-products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.product-listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid hsl(200, 90%, 50%);
  border-radius: 20px;
  width: 90%;
  height: 200px;
}
.single-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-listing-details {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-listing-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .product-listing-left:hover {
  cursor: pointer;
} */
.product-listing-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  border-radius: 10px;
}
.product-listing-divider {
  height: 75%;
  border-left: 2px solid hsl(0, 0%, 90%);
}
.product-listing-right {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: hsl(0, 0%, 90%);
}
.product-listing-right-info:hover {
  cursor: pointer;
}
.product-listing-right-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.product-listing-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-listing-description {
  font-size: 14px;
  font-style: italic;
}
.product-listing-price {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  width: 20%;
}
.edit-price-buttons {
  display: flex;
}
.product-listing-add {
  height: 100%;
  width: 5%;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 50%);
  border: 1px solid hsl(200, 90%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px 0 0;
}
.product-details {
  color: hsl(0, 0%, 90%);
}
.product-details-listing-add {
  width: 400px;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 50%);
  border: 1px solid hsl(200, 90%, 50%);
}
.product-listing-add:hover {
  cursor: pointer;
  background-color: hsl(200, 90%, 25%);
  border: 1px solid hsl(200, 90%, 25%);
}
.product-details-listing-add:hover {
  cursor: pointer;
  background-color: hsl(200, 90%, 25%);
  border: 1px solid hsl(200, 90%, 25%);
}

/* ==================== PRODUCT DETAILS ==================== */

.product-details-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
}
.about-product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-info {
  height: 49%;
  width: 100%;
  display: flex;
}
.product-info-left {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-info-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product-details-menu {
  height: 6%;
}
.product-details-display {
  height: 45%;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-details-description {
  color: hsl(0, 0%, 90%);
}
#soldBy {
  color:hsl(0, 0%, 90%);
}
#soldBy:hover {
  color:hsl(0, 0%, 60%);
  text-decoration: underline;
  cursor: pointer;
}
.review-form {
  width: 100%;
}
.review-form input[type="text"] {
  width: 60%;
}
.review-form-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================== CART ==================== */

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 90%;
}
.cart-items-container {
  width: 30%;
}
.cart-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-item {
  color:hsl(0, 0%, 65%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin: 15px;
  /* border: 2px solid hsl(200, 90%, 50%); */
}
.cart-item-thumbnail {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.cart-item-name:hover {
  cursor: pointer;
  color: hsl(0, 0%, 90%);
  text-decoration: underline;
}
.cart-payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0 0;
}
.cart-checkout {
  width: 400px;
  margin: 30px 0 0 0;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 90%, 50%);
  border: 1px solid hsl(200, 90%, 50%);
}
.cart-checkout:hover {
  cursor: pointer;
  background-color: hsl(200, 90%, 25%);
  border: 1px solid hsl(200, 90%, 25%);
}
.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.checkout-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkout-labels label {
  margin: 12px 15px;
}
.checkout-inputs {
  display: flex;
  flex-direction: column;
}
.checkout-inputs input {
  width: 100%;
}

/* ==================== ORDERS ==================== */

.order-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order {
  margin: 50px 0;
}
.order-header {
  color: hsl(0, 0%, 90%);
}
.order-product {
  color: hsl(0, 0%, 65%);
}

/* ==================== REVIEWS ==================== */

.review {
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid hsl(0, 0%, 60%); */
}
.review-top, .review-rating, .review-bottom {
  display: flex;
  justify-content: flex-start;
  margin: 0 10px;
}
.review-top {
  color: hsl(0, 0%, 90%);
}
.review-rating {
  color: hsl(0, 0%, 65%)
}
#done-reviewing {
  color:hsl(200, 90%, 50%);
}
#done-reviewing:hover {
  color:hsl(0, 0%, 90%);
  text-decoration: underline;
  cursor: pointer;
}

/* ==================== ADD PRODUCT ==================== */

.add-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-product-container {
  display: flex;
}
.add-product-label {
  margin: 9px 10px 25px 0;
}
.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.add-product-form input[type="text"], input[type="float"] {
  width: 90%;
}
#add-product-submit {
  margin: 20px 90px 0 0;
}

/* ==================== ADD PRODUCT ==================== */